src/main/mule/mule-qbd-service-mule4.xml
<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<mule xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce" xmlns:os="http://www.mulesoft.org/schema/mule/os" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit-soap="http://www.mulesoft.org/schema/mule/apikit-soap" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/apikit-soap http://www.mulesoft.org/schema/mule/apikit-soap/current/mule-apikit-soap.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd">
    <http:listener-config name="api-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8081"/>
    </http:listener-config>
    <apikit-soap:config httpStatusVarName="httpStatus" name="soapkit-config" port="TroubleshootWebServiceFSSoap" service="TroubleshootWebServiceFS" wsdlLocation="https://test.developer.intuit.com/QBWC/TroubleshootWebServiceFS/Service.asmx?wsdl"/>
    <configuration-properties doc:name="Configuration properties" doc:id="5db6f897-fc0e-4bc6-8604-3465a59d9506" file="mule-properties.yaml" />
	<salesforce:sfdc-config name="Salesforce_Config" doc:name="Salesforce Config" doc:id="9af692f6-c5db-4039-a122-2863d86a0866" >
		<salesforce:basic-connection username="${sfdc.user}" password="${sfdc.password}" />
	</salesforce:sfdc-config>
	<flow name="api-main">
        <http:listener config-ref="api-httpListenerConfig" path="/TroubleshootWebServiceFS/TroubleshootWebServiceFSSoap">
            <http:response statusCode="#[attributes.additionalTransportData.statusCode default 200]">
                <http:body>#[payload]</http:body>
                <http:headers>#[attributes.protocolHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[attributes.additionalTransportData.statusCode default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[attributes.protocolHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit-soap:router config-ref="soapkit-config">
            <apikit-soap:message>#[payload]</apikit-soap:message>
            <apikit-soap:attributes>#[
              %dw 2.0
              output application/java
              ---
              {
                  headers: attributes.headers,
                  method: attributes.method,
                  queryString: attributes.queryString
            }]</apikit-soap:attributes>
        </apikit-soap:router>
    </flow>
    <flow name="serverVersion:\soapkit-config">
		<ee:transform doc:name="Transform Message" doc:id="d741f994-d596-47eb-be8f-88040afc2bee" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
ns soap http://schemas.xmlsoap.org/soap/envelope
ns q1 http://developer.intuit.com/ 
---
{
    soap#body: {
        serverVersionResponse @("xmlns": q1): {
            serverVersionResult @("xmlns": q1): "1.0"     
        }
    } write "application/xml"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
    </flow>
    <flow name="clientVersion:\soapkit-config">
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/java
ns soap http://schemas.xmlsoap.org/soap/envelope
ns q1 http://developer.intuit.com/
---
{
    body: {
        clientVersionResponse @("xmlns": q1): {
            clientVersionResult @("xmlns": q1): null
        }
    } write "application/xml"
}]]>
                </ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="authenticate:\soapkit-config">
        <set-variable value="#[uuid()]" doc:name="Set Variable" doc:id="914b5aba-e04e-4060-b453-8e974de3b672" variableName="ticket"/>
		<ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/java
ns soap http://schemas.xmlsoap.org/soap/envelope
ns q1 http://developer.intuit.com/ 
---
{
    body: {
        authenticateResponse @("xmlns": q1): {
            authenticateResult: {
            	string: vars.ticket,
            	string: ""
            }
        }
    } write "application/xml"
}]]>
                </ee:set-payload>
            </ee:message>
        </ee:transform>
		<os:store doc:name="Store" doc:id="55983e31-f082-4d9f-a351-09378b7c6196" key="ticket">
			<os:value ><![CDATA[#[vars.ticket]]]></os:value>
		</os:store>
    </flow>
    <flow name="connectionError:\soapkit-config">
        <ee:transform>
            <ee:message>
                <ee:set-payload>
                    <![CDATA[%dw 2.0
output application/java
ns soap http://schemas.xmlsoap.org/soap/envelope
---
{
    body: {
        soap#Fault: {
            faultcode: "soap:Server",
            faultstring: "Operation [connectionError:\soapkit-config] not implemented"
        }
    } write "application/xml"
}]]>
                </ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="sendRequestXML:\soapkit-config">
		<os:retrieve doc:name="ticket" doc:id="a2342d55-c9a4-4ccb-a559-b13df4adf8d7" key="ticket" target="ticket">
			<os:default-value ><![CDATA[#[""]]]></os:default-value>
		</os:retrieve>
		<os:retrieve doc:name="lastModified" doc:id="a098fc74-32d5-4dd2-8ecc-8881309ac6e9" key="lastModified" target="lastModified">
			<os:default-value ><![CDATA[#[now()]]]></os:default-value>
		</os:retrieve>
		<salesforce:query doc:name="Query" doc:id="e74c1d4f-7204-4795-b2de-c669144bd654" config-ref="Salesforce_Config">
			<salesforce:salesforce-query ><![CDATA[SELECT BillingAddress,BillingCity,BillingCountry,BillingPostalCode,BillingState,BillingStreet,Description,FirstName,Id,LastModifiedDate,LastName,Name,Phone,QB_List_ID__c FROM Account WHERE LastModifiedDate > :lastModified ]]></salesforce:salesforce-query>
			<salesforce:parameters ><![CDATA[#[output application/java
---
{
	"lastModified" : vars.lastModified as String {format: "y-MM-d'T'HH:mm:ss'Z'"}
}]]]></salesforce:parameters>
		</salesforce:query>
		<choice doc:name="Choice" doc:id="68d7184c-0a47-4b61-9141-a95d9392e856" >
			<when expression="payload[0] != null">
				<ee:transform doc:name="Transform Message" doc:id="81c25bbd-39a7-4ef9-a0d2-85f48d585066">
					<ee:message>
					</ee:message>
					<ee:variables >
						<ee:set-variable variableName="customerAdd" ><![CDATA[%dw 2.0
output application/xml indent=false, inlineCloseOn="never" 
---
CustomerAddRq: {
	CustomerAdd: (payload filter ($.QB_List_ID__c == null) map {
		Name: $.Name default "",
		FirstName: $.FirstName default "",
		LastName: $.LastName default "",
		BillAddress: {
			Addr1: $.BillingStreet default "",
			City: $.BillingCity default "",
			State: $.BillingState default "",
			PostalCode: $.BillingPostalCode default "",
			Country: $.BillingCountry default ""
		},
		AltPhone: $.Id,
		Phone: $.Phone default ""
	})
}]]></ee:set-variable>
						<ee:set-variable variableName="customerMod" ><![CDATA[%dw 2.0
output application/xml indent=false, inlineCloseOn="never" 
---
CustomerModRq: {
	CustomerMod: (payload filter ($.QB_List_ID__c != null) map {
		ListID: payload.QB_List_ID__c,
		EditSequence: "123",
		Name: $.Name default "",
		FirstName: $.FirstName default "",
		LastName: $.LastName default "",
		BillAddress: {
			Addr1: $.BillingStreet default "",
			City: $.BillingCity default "",
			State: $.BillingState default "",
			PostalCode: $.BillingPostalCode default "",
			Country: $.BillingCountry default ""
		},
		AltPhone: $.Id,
		Phone: $.Phone default ""
	})
}]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
				<ee:transform doc:name="Add or Mod Account" doc:id="1f70f9d0-94e4-455b-af56-1c25486d1ac9">
								<ee:message>
									<ee:set-payload><![CDATA[%dw 2.0
output application/xml indent=false, inlineCloseOn="never" 
---
{
	QBXML: {
		QBXMLMsgsRq @(onError: "stopOnError"): {
			(vars.customerAdd),
			(vars.customerMod),
			CustomerQueryRq @(requestID: "1"): {
				//MaxReturned: 2,
				FromModifiedDate: vars.lastModified as String {format: "y-MM-d'T'HH:mm:ss"}
			}
		}
	}
}]]></ee:set-payload>
								</ee:message>
							</ee:transform>
				<os:store doc:name="newQBCustomers" doc:id="b323671b-be2f-42a2-b54a-5a4e304786dd" key="newQBCustomers">
					<os:value ><![CDATA[#[vars.customerAdd]]]></os:value>
				</os:store>
			</when>
			<otherwise >
				<ee:transform doc:name="Just Get Modified Customers in QuickBooks" doc:id="995a5393-efab-40b3-901f-a374c2d3934d">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/xml indent=false
---
{
	QBXML: {
		QBXMLMsgsRq @(onError: "stopOnError"): {
			CustomerQueryRq @(requestID: "1"): {
				//MaxReturned: 2,
				FromModifiedDate: vars.lastModified as String {format: "y-MM-d'T'HH:mm:ss"},				
				//IncludeRetElement: "ListID",
				//IncludeRetElement: "DataExtRet",	
				//IncludeRetElement: "Cc",
				//OwnerID: 0			
			}
		}
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
			</otherwise>
		</choice>
		<ee:transform doc:id="c30571d4-cb16-41bb-8690-4ca723522161">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
import java!org::apache::commons::text::StringEscapeUtils
output application/java
ns soap http://schemas.xmlsoap.org/soap/envelope
ns dev http://developer.intuit.com/ 
---
{
    body: {
      sendRequestXMLResponse @("xmlns": dev): {
      	sendRequestXMLResult @("xmlns": dev): (payload.^raw replace "<?xml version='1.0' encoding='UTF-8'?>" with "<?qbxml version=\"4.0\"?>") as CData
      }      	
    } write "application/xml"
}]]>
                </ee:set-payload>
            </ee:message>
        </ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="74d57936-4ae8-4942-bd5e-ab5d325a52ed" message="#[payload]"/>
		<os:store doc:name="lastModified" doc:id="f53f8c8d-90c5-4505-a631-40d69d3017ee" key="lastModified">
			<os:value ><![CDATA[#[now()]]]></os:value>
		</os:store>
    </flow>
    <flow name="receiveResponseXML:\soapkit-config">
		<logger level="INFO" doc:name="Logger" doc:id="de6d1029-1d57-4459-8a0a-5b8ef703f87e" message='#[output application/json writeAttributes=true&#10;---&#10;payload.body.receiveResponseXML]'/>
		<choice doc:name="Choice" doc:id="48f339b4-2baf-49b5-a902-e04eb8675037" >
			<when expression="#[output application/json writeAttributes=true&#10;---&#10;payload.body.receiveResponseXML.hresult == null]">
				<set-variable value='#[output application/json writeAttributes=true&#10;---&#10;read(payload.body.receiveResponseXML.response,"application/xml").QBXML.QBXMLMsgsRs.CustomerQueryRs.@statusCode]' doc:name="Set Variable" doc:id="938dc3bb-4afd-45e9-935c-e726308ac3bd" variableName="statusCode" />
				<choice doc:name="Choice" doc:id="3f0412d9-e95c-41d2-867f-15e6254fbd96">
			<when expression='#[vars.statusCode != "1"]'>
				<set-payload value='#[output application/xml&#10;---&#10;read(payload.body.receiveResponseXML.response default "","application/xml")]' doc:name="Set Payload" doc:id="931ca127-261a-4d46-97b0-e063b81ba387" />
				<ee:transform doc:name="Transform Message" doc:id="1d53d0c1-1ec4-4b85-8af7-de804730dd64">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/java
---
[{
	Name: payload.QBXML.QBXMLMsgsRs.CustomerQueryRs.CustomerRet.Name,
	Phone: payload.QBXML.QBXMLMsgsRs.CustomerQueryRs.CustomerRet.Phone,
	QB_List_ID__c: payload.QBXML.QBXMLMsgsRs.CustomerQueryRs.CustomerRet.ListID
}]]]></ee:set-payload>
			</ee:message>
		</ee:transform>
				<salesforce:upsert doc:name="Upsert" doc:id="f0217685-ff44-471a-a077-541e344a0a05" config-ref="Salesforce_Config" objectType="Account" externalIdFieldName="QB_List_ID__c" />
			</when>
			<otherwise>
				<logger level="INFO" doc:name="Logger" doc:id="a4bcaf34-ffd6-4579-bfc1-c9ee5dceadff" />
			</otherwise>
		</choice>
			</when>
			<otherwise >
				<logger level="INFO" doc:name="Logger" doc:id="0e747a8b-357e-4502-88eb-1de9d59ee1f5" />
			</otherwise>
		</choice>
		<ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/java
ns soap http://schemas.xmlsoap.org/soap/envelope
ns q1 http://developer.intuit.com/ 
---
{
    body: {
        receiveResponseXMLResponse @("xmlns": q1): {
            receiveResponseXMLResult @("xmlns": q1): "101"           
        }
    } write "application/xml"
}]]>
                </ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="getLastError:\soapkit-config">
		<ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/java
ns soap http://schemas.xmlsoap.org/soap/envelope
ns q1 http://developer.intuit.com/ 
---
{
    body: {
        getLastErrorResponse @("xmlns": q1): {
            getLastErrorResult @("xmlns": q1): "Error!"
        }
    } write "application/xml"
}]]>
                </ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="closeConnection:\soapkit-config">
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/java
ns soap http://schemas.xmlsoap.org/soap/envelope
ns q1 http://developer.intuit.com/ 
---
{
    body: {
        closeConnectionResponse @("xmlns": q1): {
            closeConnectionResult @("xmlns": q1): "Session Ended"
        }
    } write "application/xml"
}]]>
                </ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
</mule>
